# Ignorar el entorno virtual
env/

# Ignorar archivos de entorno
.env

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de configuración del editor
.vscode/
.idea/

# Archivos de compilación
*.pyc
*.pyo
__pycache__/

# Cachés de tests
.pytest_cache/
coverage/
htmlcov/

# Archivos y carpetas de migraciones (opcional)
**/migrations/

# Archivos de base de datos locales
db.sqlite3

# Archivos de log
*.log

# Archivos de traducción temporales
*.pot

# Archivos de dependencia
pip-log.txt
*.egg-info/

# Archivos estáticos generados
media/

# Ignorar archivos temporales
*.tmp

# Node.js (npm/yarn)
node_modules/